<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/colors.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/header.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/footer.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/typography.css' | relative_url }}">

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>