<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    {% for file in site.static_files %}
    {% if file.path contains '/assets/styles/' and file.extname == '.css' %}
    <link rel="stylesheet" href="{{ file.path | relative_url }}">
    {% endif %}
    {% endfor %}

    <link rel="icon" type="image/png" href="{{ '/assets/icons/unity.png' | relative_url }}">

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>