<header class="site-header">
    <h1 class="site-header-title">Kamil Maślanka</h1>
    <h2 class="site-header-subtitle">Game Developer</h2>

    <nav class="site-nav">
        <a href="{{ '/' | relative_url }}" {% if page.url=='/' %} class="active" {% endif %}>HOME</a>
        <a href="{{ '/about/' | relative_url }}" {% if page.url=='/about/' %} class="active" {% endif %}>ABOUT</a>
        <a href="{{ '/professional/' | relative_url }}" {% if page.url=='/professional/' %} class="active" {% endif %}>PROFESSIONAL PROJECTS</a>
        <a href="{{ '/personal/' | relative_url }}" {% if page.url=='/personal/' %} class="active" {% endif %}>PERSONAL PROJECTS</a>
        <a href="/assets/Resume.pdf">RESUME</a>
        <!-- <a href="{{ '/blog/' | relative_url }}" {% if page.url=='/blog/' %} class="active" {% endif %}>BLOG</a> -->
    </nav>

</header>