<div class="project-panel">

    <!-- <div style="display:flex; gap:1rem; flex-wrap:wrap; flex-direction: column; justify-content:center;"> -->

        <h2 class="project-title">{{ include.title }}</h2>

        <div>

            {% if include.image1 %}
            <img src="{{ include.image1 }}" alt="Image 1">
            {% endif %}

            {% if include.video1 %}
            <video src="{{ include.video1 }}" alt="Video 2" controls></video>
            {% endif %}

            {% if include.image2 %}
            <img src="{{ include.image2 }}" alt="Image 2">
            {% endif %}

            {% if include.video2 %}
            <video src="{{ include.video2 }}" alt="Video 2" controls></video>
            {% endif %}

        </div>
        
        {% capture desc_content %}
            {% include_relative {{ include.description }} %}
        {% endcapture %}

        {{ desc_content | strip | markdownify }}
        
        {% if include.projectURL %}
        <div style="text-align:center; margin-top:0.5rem;">
            <a href="/projects/project-title" style="display:inline-block; padding:0.6rem 1.2rem; 
            background:#007acc; color:white; border-radius:6px; text-decoration:none;">
                View Project →
            </a>
        </div>
        {% endif %}

    <!-- </div> -->
</div>

<style>

.project-title{
    font-family: var(--reckoner);
    font-size: 36px;
    align-self: center;
    margin: 0px;
    color: var(--main-color);
    font-weight: normal;
}

.project-panel {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;

  background-color: var(--content-color);
  color: var(--main-color);

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.project-panel h3{
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: normal;
}

.project-panel img, .project-panel video {
  width: 48%;
  border-radius: 8px;
}

</style>