{% assign p = site.projects | where: "slug", include.project | first %}

{% if p.media1 or p.media2 %}
  <div class="project-media-row">
    {% if p.media1 %}
      {% include any_media.html src=p.media1 %}
    {% endif %}
    {% if p.media2 %}
      {% include any_media.html src=p.media2 %}
    {% endif %}
  </div>
{% endif %}

{% if p.media3 or p.media4 %}
  <div class="project-media-row">
    {% if p.media3 %}
      {% include any_media.html src=p.media3 %}
    {% endif %}
    {% if p.media4 %}
      {% include any_media.html src=p.media4 %}
    {% endif %}
  </div>
{% endif %}