{% comment %}

Usage:

{% include project_rect.html project="test" %}

{% endcomment %}

{% assign p = site.projects | where: "slug", include.project | first %}

<a href="{{ p.url | relative_url }}" class="project-rect">
    <div class="project-rect-banner">
        {% include any_media.html src=p.banner poster=p.poster %}
    </div>
    <div class="project-rect-overlay">
        <h2 class="project-rect-title">{{ p.title }}</h2>
        <p class="project-rect-desc">{{ p.short }}</p>
    </div>
</a>