.site-footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    padding: 2em 0;
    min-height: 80px;
    text-align: center;

    border-top: 4px solid var(--acent-color);
}

.footer-content p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-contact-title {
    font-family: var(--reckoner_bold);
    font-size: 1.6em;
}

.footer-contact-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer-contact-btn {
    background: var(--main-alt-color);
    color: var(--content-alt-color);
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
}

.footer-contact-btn:hover {
    background: var(--main-alt-color-hover);
    color: var(--content-alt-color-hover);
}