header.site-header {
    background: var(--header-bg);
    color: var(--header-text);
    padding: 1em 0 0 0;
    /* border-bottom: 3px solid var(--acent-color); */
}

.site-header-title {
    font-family: var(--reckoner_bold);
    font-size: 42px;
    justify-self: center;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-style: italic; */
    text-shadow: 1px 1px var(--content-color);
}

.site-header-subtitle {
    font-family: var(--reckoner);
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-self: center;
    font-weight: normal;
    /* font-style: italic; */
    text-shadow: 1px 1px var(--content-color);
}

nav.site-nav {
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: var(--content-color);
}

nav.site-nav a {
    display: flex;
    width: 140px;
    height: 60px;
    padding: 0px;
    color: var(--header-text);

    font-family: var(--reckoner);
    font-size: 20px;

    text-align: center;
    text-shadow: 1px 1px var(--content-color);
    text-transform: uppercase;
    text-decoration: none;

    align-items: center;
    justify-content: center;
    line-height: 1;
    overflow: visible;

    transition: background 0.4s ease, font-size 0.3s ease-in-out;
}

nav.site-nav a:hover {
    background: var(--content-color-hover);
    font-size: 22px;
}

nav.site-nav a.active {
    color: var(--acent-color-hover);
}

@media (max-width: 600px) {
    nav.site-nav {
        flex-direction: column;
        align-items: center;
        gap: 0.3em;
    }

    nav.site-nav a {
        width: 100%;
    }
}