@import url('colors.css');

body{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: var(--body-bg);
}
header.site-header {
  background: var(--header-bg);
  color: var(--header-text);
  padding: 1em 0;
}
nav.site-nav {
  display: flex;
  justify-content: center;
  gap: 2em;
}
nav.site-nav a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
}
main.site-main {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
}
.footer-scheme {
  background: var(----footer-bg);
  color: var(--footer-text);
}
.site-footer {
  padding: 1em 0;
  text-align: center;
}
