@import url('colors.css');

:root{
  font-family: "calluna", Georgia, sans-serif;
}

html, body {
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: var(--body-bg);
  color: var(--body-text);
}
main.site-main {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
  flex: 1;
}
