#posts{
    display:grid;
    justify-items:center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center
}

.post-card {
    display: block;
    background: var(--content-color);
    width: 340px;
    height: 320px;
    border-radius: 40px;
    border: 4px solid var(--acent-color);
    overflow: hidden;
    transition: scale 0.3s ease;
}

.post-card:hover{
    background: var(--content-color-hover);
    text-decoration-color: var(--main-color);
    scale: 1.03;
}

.post-image-container {
    width:100%;
    height: auto;
    aspect-ratio: 16/9;
    border-bottom: 4px solid var(--acent-color);
    overflow: hidden;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content {
    padding: 10px 20px;
}

.post-title {
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

.post-excerpt {
    margin: 0;
    padding: 0;
    color: var(--main-color);
}