.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* max-width: 400px; */
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 0.5rem 1rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}