.site-footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    padding: 2em 0;
    min-height: 120px;
    text-align: center;

    border-top: 4px solid var(--acent-color);
}

.footer-content p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-contact-title {
    font-family: var(--reckoner_bold);
    font-size: 1.6em;
}

.footer-contact-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}