<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main class="site-main project-page">
        {% assign p = site.projects | where: "slug", page.slug | first %}
        <h2 class="project-title">{{ p.title }}</h2>
        <h3 class="project-year">{{ p.year }}</h3>
        {% include project_media.html project=page.slug %}
        {{ content }}
        {% include project_buttons.html project=page.slug %}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>